@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Quicksand";
  /* color: rgb(31, 95, 192); */
}

.pageHeader {
  font-size: xx-large;
  margin: auto;
}



